!!!
%html
  %head
    %link{ :href=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css", :rel=>"stylesheet" }
    %link{ :href=>"/css/bootstrap_and_overrides.css", :rel=>"stylesheet" }
    %link{ :href=>"/css/yartc.css", :rel=>"stylesheet" }
  %body
    .container
      .navbar.navbar-fixed-top
        .navbar-inner
          %a.brand{:href => "#"} YARTC
          %ul{:class=>'nav pull-right'}
            - if current_user
              %li
                %a{:href=>'/logout'} Logout
            - else
              %li
                %a{:href=>'/login'} Login
              %li
                %a{:href=>'/signup'} Sign Up

    - if session.has_key? :flash
      - if session[:flash].has_key? :error
        %div{:class=>"alert alert-error"}
          = session[:flash][:error]
      - if session[:flash].has_key? :success
        %div{:class=>"alert alert-success"}
          = session[:flash][:success]
      - if session[:flash].has_key? :notice
        %div{:class=>"alert"}
          = session[:flash][:notice]
      - session.delete :flash


    .container
      = content
