!!!
%html
  %head
    %link{ :href=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css", :rel=>"stylesheet" }
    %script{:type => "text/javascript", :src=>"//code.jquery.com/jquery-1.8.3.min.js"}
    / %script{:type => "text/javascript", :src=>"/js/coffee-script.js"}

    %link{ :href=>"/css/bootstrap_and_overrides.css", :rel=>"stylesheet" }
    %link{ :href=>"/css/yartc.css", :rel=>"stylesheet" }
  %body
    .container
      .navbar.navbar-fixed-top
        .navbar-inner
          %a.brand{:href => "#"} YARTC
          %ul{:class=>'nav pull-right'}
            - if current_user
              %li
                %a{:href=>'/logout'} Logout
            - else
              %li
                %a{:href=>'/login'} Login
              %li
                %a{:href=>'/signup'} Sign Up

    #alert-error{   :class=>"display-none alert alert-error"   }
    #alert-success{ :class=>"display-none alert alert-success" }
    #alert-notice{  :class=>"display-none alert"               }


    - if session.has_key? :flash
      - if session[:flash].has_key? :error
        :javascript
          $('#alert-error').show();
          $('#alert-error').html('#{session[:flash][:error]}');
      - if session[:flash].has_key? :success
        :javascript
          $('#alert-success').show();
          $('#alert-success').html('#{session[:flash][:success]}');
      - if session[:flash].has_key? :notice
        :javascript
          $('#alert-notice').show();
          $('#alert-notice').html('#{session[:flash][:notice]}');

      - session.delete :flash


    .container
      = content
