!!!
%html
  %head
    %link{ :href=>"//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css", :rel=>"stylesheet" }
    %link{ :href=>"/css/bootstrap_and_overrides.css", :rel=>"stylesheet" }
    %link{ :href=>"/css/yartc.css", :rel=>"stylesheet" }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => "#"} YARTC
          %ul.nav
            - if current_user
              %li
                %a{:href=>'/logout'} Logout
            - else
              %li
                %a{:href=>'/login'} Login
    .container
      = yield