%form.form-signin{:action=>'/login', :method=>"post"}
  %h2.form-signin-heading Please sign in
  %input.input-block-level{:name=>'username', :placeholder => "Username", :type => "text"}
  %input.input-block-level{:name=>'password', :placeholder => "Password", :type => "password"}
  %label.checkbox
    %input{:name=>'remember-me', :type => "hidden",   :value => "false"}
    %input{:name=>'remember-me', :type => "checkbox", :value => "true"}
      Remember me
  %button.btn.btn-large.btn-primary{:type => "submit"} Sign in
