%form.form-post{:method=>'post', :action=>'post'}
  %h2.form-post-heading New Post
  %textarea.input-block-level{:name=>'content', :rows=>4, :placeholder=>'Compose New Post'}
  %button.btn.btn-large.btn-primary{:type => "submit"} Post
