- posts ||= []

.row-fluid
  %div{:class=>"span12"}
    %h1== Global Timeline


.row-fluid
  %div{:class=>"span10 offset1"}

    - posts.each do |post|
      .row
        / TODO: display username of poster
        %div{:class=>"span8 post"}
          %div= post.id.to_s
          %div= post.content
          %div
            %i= Time.at post.created_at.to_i
