- posts ||= []

.row-fluid
  %div{:class=>"span12"}
    %h1== Global Timeline


.row-fluid
  %div{:class=>"span10 offset1"}

    - posts.each do |post|
      .row
        %div{:class=>"span8 post"}
          %div
            %a{:href=>"/#{post.user.name}"}
              %b= post.user.name
          %div= post.content
          %div
            %i= Time.at post.created_at.to_i
