- posts ||= []

.row-fluid
  %div{:class=>"span12"}
    %h1
      - if current_user
        = current_user.name
      - else
        Global
      Timeline

- if current_user
  %a{:href=>'/post'} New Post

= render 'views/_timeline.haml', :posts=>posts